@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    &::-webkit-scrollbar-track {
      @apply bg-white;
    }
    &::-webkit-scrollbar {
      @apply bg-white w-[0.5rem];
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-black rounded-full;
    }
  }

  html {
    scroll-behavior: smooth;
    font-size: calc(100vw / 1440 * 10);

    @media screen and (max-width: 639px) {
      font-size: calc(100vw / 375 * 10);
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    &::-webkit-scrollbar {
      width: 0.8rem !important;
    }
  }
}
